[Desktop Entry]
Version=1.0
Name=Hitvidio
Comment=Professional NLE video editor
Exec=hitvidio-editor
Icon=${SNAP}/meta/gui/hitvidio-editor.png
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
StartupNotify=true